<div class="column">
  <div class="card">
    <% if product.image.present? %>
      <div class="card-image">
        <figure class="image">
          <%= image_tag product.image %>
        </figure>
      </div>
    <% end %>
      <div class="card-content">
        <p class="title">
          <strong><%= link_to product.name, product %></strong>
        </p>
        <p>Price: $<%= product.price %></p>
      </div>
      <footer class="card-footer">
        <a href="#" class="card-footer-item">Add to cart</a>
        <a href="#" class="card-footer-item">View details</a>
      </footer>
  </div>
</div>