<h3 class="title is-4">All Products are listed below:</h3>
<%= paginate @products %>
<% @products.each do |product| %>
  <div class="columns is-multiline">
    <div class="card">
        <div class="card-content">
          <p class="title">
            <strong><%= link_to product.name, product %></strong>
          </p>
          <p>Price: <%= product.price %></p>
        </div>
        <footer class="card-footer">
          <a href="#" class="card-footer-item">Add to cart</a>
          <a href="#" class="card-footer-item">View details</a>
        </footer>
    </div>
  <div>
<% end %>
<%= paginate @products %>