<h3 class="title is-4">All Products are listed below:</h3>
<%= paginate @products %>
  <div class="columns is-multiline is-mobile">
    <%= render partial: 'products/product',
            collection: @products%>

  <div>
<%= paginate @products %>
